.auburn{background-color: #A55728;}
.blonde{background-color: #B58143;}
.blondegolden{background-color: #D6B370}
.browndark{background-color: #4A312C;}
.pastelpink{background-color: #F59797;}
.platinum{background-color: #ECDCBF;}
.silvergray{background-color: #E8E1E1;}
.heather{background-color: #3C4F5C;}
.pastelblue{background-color: #B1E2FF;}
.pastelgreen{background-color: #A7FFC4;}
.pastelorange{background-color: #FFDEB5;}
.pastelred{background-color: #FFAFB9;}
.pastelyellow{background-color: #FFFFB1;}
.red{background-color: #FF5C5C;}
.tanned{background-color: #FD9841;}
.pale{background-color: #FFDBB4;}
.light{background-color: #EDB98A;}
.darkBrown{background-color: #AE5D29;}
.aliceblue{background-color: #F0F8FF;}
.antiquewhite{background-color: #FAEBD7;}
.aqua{background-color: #00FFFF;}
.aquamarine{background-color: #7FFFD4;}
.azure{background-color: #F0FFFF;}
.beige{background-color: #F5F5DC;}
.bisque{background-color: #FFE4C4;}
.black{background-color: #000000;}
.blanchedalmond{background-color: #FFEBCD;}
.blue{background-color: #0000FF;}
.blueviolet{background-color: #8A2BE2;}
.brown{background-color: #A52A2A;}
.burlywood{background-color: #DEB887;}
.cadetblue{background-color: #5F9EA0;}
.chartreuse{background-color: #7FFF00;}
.chocolate{background-color: #D2691E;}
.coral{background-color: #FF7F50;}
.cornflowerblue{background-color: #6495ED;}
.cornsilk{background-color: #FFF8DC;}
.crimson{background-color: #DC143C;}
.cyan{background-color: #00FFFF;}
.darkblue{background-color: #00008B;}
.darkcyan{background-color: #008B8B;}
.darkgoldenrod{background-color: #B8860B;}
.darkgray{background-color: #A9A9A9;}
.darkgreen{background-color: #006400;}
.darkgrey{background-color: #A9A9A9;}
.darkkhaki{background-color: #BDB76B;}
.darkmagenta{background-color: #8B008B;}
.darkolivegreen{background-color: #556B2F;}
.darkorange{background-color: #FF8C00;}
.darkorchid{background-color: #9932CC;}
.darkred{background-color: #8B0000;}
.darksalmon{background-color: #E9967A;}
.darkseagreen{background-color: #8FBC8F;}
.darkslateblue{background-color: #483D8B;}
.darkslategray{background-color: #2F4F4F;}
.darkslategrey{background-color: #2F4F4F;}
.darkturquoise{background-color: #00CED1;}
.darkviolet{background-color: #9400D3;}
.deeppink{background-color: #FF1493;}
.deepskyblue{background-color: #00BFFF;}
.dimgray{background-color: #696969;}
.dimgrey{background-color: #696969;}
.dodgerblue{background-color: #1E90FF;}
.firebrick{background-color: #B22222;}
.floralwhite{background-color: #FFFAF0;}
.forestgreen{background-color: #228B22;}
.fuchsia{background-color: #FF00FF;}
.gainsboro{background-color: #DCDCDC;}
.ghostwhite{background-color: #F8F8FF;}
.gold{background-color: #FFD700;}
.goldenrod{background-color: #DAA520;}
.gray{background-color: #808080;}
.green{background-color: #008000;}
.greenyellow{background-color: #ADFF2F;}
.grey{background-color: #808080;}
.honeydew{background-color: #F0FFF0;}
.hotpink{background-color: #FF69B4;}
.indianred{background-color: #CD5C5C;}
.indigo{background-color: #4B0082;}
.ivory{background-color: #FFFFF0;}
.khaki{background-color: #F0E68C;}
.lavender{background-color: #E6E6FA;}
.lavenderblush{background-color: #FFF0F5;}
.lawngreen{background-color: #7CFC00;}
.lemonchiffon{background-color: #FFFACD;}
.lightblue{background-color: #ADD8E6;}
.lightcoral{background-color: #F08080;}
.lightcyan{background-color: #E0FFFF;}
.lightgoldenrodyellow{background-color: #FAFAD2;}
.lightgray{background-color: #D3D3D3;}
.lightgreen{background-color: #90EE90;}
.lightgrey{background-color: #D3D3D3;}
.lightpink{background-color: #FFB6C1;}
.lightsalmon{background-color: #FFA07A;}
.lightseagreen{background-color: #20B2AA;}
.lightskyblue{background-color: #87CEFA;}
.lightslategray{background-color: #778899;}
.lightslategrey{background-color: #778899;}
.lightsteelblue{background-color: #B0C4DE;}
.lightyellow{background-color: #FFFFE0;}
.lime{background-color: #00FF00;}
.limegreen{background-color: #32CD32;}
.linen{background-color: #FAF0E6;}
.magenta{background-color: #FF00FF;}
.maroon{background-color: #800000;}
.mediumaquamarine{background-color: #66CDAA;}
.mediumblue{background-color: #0000CD;}
.mediumorchid{background-color: #BA55D3;}
.mediumpurple{background-color: #9370DB;}
.mediumseagreen{background-color: #3CB371;}
.mediumslateblue{background-color: #7B68EE;}
.mediumspringgreen{background-color: #00FA9A;}
.mediumturquoise{background-color: #48D1CC;}
.mediumvioletred{background-color: #C71585;}
.midnightblue{background-color: #191970;}
.mintcream{background-color: #F5FFFA;}
.mistyrose{background-color: #FFE4E1;}
.moccasin{background-color: #FFE4B5;}
.navajowhite{background-color: #FFDEAD;}
.navy{background-color: #000080;}
.oldlace{background-color: #FDF5E6;}
.olive{background-color: #808000;}
.olivedrab{background-color: #6B8E23;}
.orange{background-color: #FFA500;}
.orangered{background-color: #FF4500;}
.orchid{background-color: #DA70D6;}
.palegoldenrod{background-color: #EEE8AA;}
.palegreen{background-color: #98FB98;}
.paleturquoise{background-color: #AFEEEE;}
.palevioletred{background-color: #DB7093;}
.papayawhip{background-color: #FFEFD5;}
.peachpuff{background-color: #FFDAB9;}
.peru{background-color: #CD853F;}
.pink{background-color: #FFC0CB;}
.plum{background-color: #DDA0DD;}
.powderblue{background-color: #B0E0E6;}
.purple{background-color: #800080;}
.rebeccapurple{background-color: #663399;}
.rosybrown{background-color: #BC8F8F;}
.royalblue{background-color: #4169E1;}
.saddlebrown{background-color: #8B4513;}
.salmon{background-color: #FA8072;}
.sandybrown{background-color: #F4A460;}
.seagreen{background-color: #2E8B57;}
.seashell{background-color: #FFF5EE;}
.sienna{background-color: #A0522D;}
.silver{background-color: #C0C0C0;}
.skyblue{background-color: #87CEEB;}
.slateblue{background-color: #6A5ACD;}
.slategray{background-color: #708090;}
.slategrey{background-color: #708090;}
.snow{background-color: #FFFAFA;}
.springgreen{background-color: #00FF7F;}
.steelblue{background-color: #4682B4;}
.tan{background-color: #D2B48C;}
.teal{background-color: #008080;}
.thistle{background-color: #D8BFD8;}
.tomato{background-color: #FF6347;}
.turquoise{background-color: #40E0D0;}
.violet{background-color: #EE82EE;}
.wheat{background-color: #F5DEB3;}
.white{background-color: #FFFFFF;}
.whitesmoke{background-color: #F5F5F5;}
.yellow{background-color: #FFFF00;}
.yellowgreen{background-color: #9ACD32;}